<html>

<head>
    <meta http-equiv='Content-Type' content='text/html;'>
    <meta charset="ISO-8859-1">
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


</head>

<body align="center" style="padding:0; margin:0; background-color:#f2f2f2;">
    <div style="display:none; display:none !important; color:#fff; font-size:1pt;">
    </div>

    <table cellpadding="0" cellspacing="0" border="0" width="660" align="center" class="center">

        <tr>
            <td bgcolor="#f2f2f2" class="mobMargin" style="font-size:0px;"> </td>
            <td bgcolor="#ffffff" width="660" align="center" class="mobContent">

                <table cellpadding="0" cellspacing="0" border="0" width="660" align="center" class="center">
                    <!-- BEGIN MAIN CONTENT -->
            <td align="center" width="600" valign="top">
                <table width="100%" cellpadding="0" cellspacing="0" border="0">
                    <tr class="no_mobile_phone">
                        <td bgcolor="#f2f2f2" style="padding-top:10px;"></td>
                    </tr>
                    <tr>
                        <td bgcolor="#f2f2f2" style="padding-top:10px;"></td>
                    </tr>
                    <tr>
                        <td align="center" valign="top" bgcolor="#ffffff">
                            <br />
                            <table border="0" cellpadding="0" cellspacing="0" contenteditable="false" style="margin-bottom:10px;" width="100%">
                                <tr valign="bottom">
                                    <td width="20" align="center" valign="top"> </td>
                                    <td align="left" height="64">
                                        <img alt="prodentechnologies" style="width:250px; height:65px;" width="250" height="65" border="0" src="https://prodentechnologies.net/ds/img/ultradocuments-logo.png">
                                    </td>
                                    <td width="40" align="center" valign="top"> </td>
                                    <td align="right">
                                        <img style="width: 250px;height: 55px;display: $cusimageHIDE$ " width="250" height="55" border="0" src="$customerLOGOPath$">
                                    </td>
                                    <td width="20" align="center" valign="top"> </td>
                                </tr>
                            </table>
                            <br />
                            <!-- PayPal logo - start -->
                            <!-- headline -->
                            <table border="0" cellpadding="0" cellspacing="0" contenteditable="false" style="padding-bottom:10px; padding-top:10px;" width="100%">
                                <tr valign="bottom">
                                    <td width="20" align="center" valign="top"> </td>
                                    <td>
                                        <span>Dear $User$, </span> <br />

                                    </td>
                                    <td width="20" align="center" valign="top"> </td>
                                </tr>
                            </table>
                            <p></p>
                            <!-- body - start -->
                            <table border="0" cellpadding="0" cellspacing="0" contenteditable="false" style="padding-bottom:0px; padding-top:0px;margin-bottom: 20px;" width="100%">
                                <tr valign="bottom">
                                    <td width="20" align="center" valign="top"> </td>
                                    <td valign="top" style="font-family:Calibri, Trebuchet, Arial, sans serif; font-size:15px;  color:#333333;" class="ppsans">

                                        <span style="font-family:Calibri, Trebuchet, Arial, sans serif; -webkit-font-smoothing: antialiased;">
                                            Document <b>'$DocNameXXX$'</b> is cancelled by $LastAccessMember$.</span>
                                        <p></p>

                                        <table cellpadding="0" cellspacing="0" style="font: 1em Calibri, Trebuchet, Arial, sans serif, sans-serif; border: 1px solid #eee;" width="97%">
                                            <tr>
                                                <td><span style="display: inline;">
                                                        <table cellpadding="1" cellspacing="0" width="100%">
                                                            <tr>
                                                                <th style="padding:5px;background-color: #eee; text-align: left; font-weight: normal; border-bottom: 0px;" width="40%">Document Name:</th>
                                                                <td width="60%" style="padding:5px;">$DocName$</td>
                                                            </tr>
                                                        </table>
                                                    </span>
                                                    <span style="display: inline;"></span>
                                                    <table cellpadding="1" cellspacing="0" width="100%" style="display:$StageNamehide$">
                                                        <tr>
                                                            <th style="width: 238px;padding:5px;background-color: #eee; text-align: left; font-weight: normal; border-bottom: 0px;" width="40%">Workflow :</th>
                                                            <td width="60%" style="padding:5px;">$WorkflowName$</td>
                                                        </tr>
                                                    </table>
                                                    <span style="display: inline;"></span><span style="display: inline;">
                                                        <table cellpadding="1" cellspacing="0" width="100%">
                                                            <tr>
                                                                <th style="padding:5px;background-color: #eee; text-align: left; font-weight: normal; border-bottom: 0px;" width="40%">Cancelled By :</th>
                                                                <td width="60%" style="padding:5px;">$LastAccessMember$</td>
                                                            </tr>
                                                        </table>
                                                    </span><span style="display: inline;">
                                                        <table cellpadding="1" cellspacing="0" width="100%">
                                                            <tr>
                                                                <th style="padding:5px;background-color: #eee; text-align: left; font-weight: normal; border-bottom: 0px;" width="40%">Cancelled Date:</th>
                                                                <td width="60%" style="padding:5px;">$CurrDate$</td>
                                                            </tr>
                                                        </table>
                                                    </span>






                                                </td>
                                            </tr>
                                        </table>


                                        <p></p>

                                        <table cellpadding="0" cellspacing="0" style="font: 1em Calibri, Trebuchet, Arial, sans serif, sans-serif; border: 1px solid #eee; display:$StageNamehide$" width="97%">
                                            <tr>
                                                <td>
                                                    <span style="display: inline;">
                                                        <table cellpadding="1" cellspacing="0" width="100%">
                                                            <tr>
                                                                <th style="width: 238px;background-color: #eee; text-align: left; font-weight: normal; border-bottom: 0px;" width="40%">Attachments:</th>
                                                                <td width="60%">$Attachments$</td>
                                                            </tr>

                                                        </table>
                                                    </span>
                                                    <span style="display: inline;">
                                                        <table cellpadding="1" cellspacing="0" width="100%">
                                                            <tr>

                                                                <td width="60%">$AttachmentsTree$</td>

                                                            </tr>

                                                        </table>
                                                    </span>

                                                </td>

                                            </tr>
                                        </table>

                                        <p></p>
                                        <br />
                                        <table cellpadding="0" cellspacing="0" style="font: 1em Calibri, Trebuchet, Arial, sans serif, sans-serif; margin-top: -20px;" width="97%">
                                            <tr>
                                                <td><span> Regards,<br /> Ultra Documents
                                                        Team
                                                    </span> <br /></td>
                                            </tr>
                                        </table>
                                        <table width="97%" style="background-color: #EEEEEE;text-align: center; font: 1em Calibri,Trebuchet,Arial,sans serif,sans-serif; margin-top: 20px; font-size-adjust: none; font-stretch: normal;" cellspacing="0" cellpadding="0">
                                            <tbody>
                                                <tr>
                                                    <td><span style="color:#DD5010;">Ultra Documents</span><span> is a free Content Management, Document Management &amp; Team Collaboration platform. <a href="https://ultradocuments.com/index.aspx?signup" target="_blank">Click here</a> to sign up for a Free for Ever version.
                                                            Powered by Proden Technologies.</span> <br></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>

                                </tr>
                                <p></p>

                            </table> <!-- body - end -->
                            <!-- PLACE ALL MODS ABOVE -->
                        </td>
                    </tr>
                </table>
            </td>
            <!-- END MAIN CONTENT -->
    </table> <!-- end inner container / place all modules above -->
    <!--  footer modules -->

    </td>
    <td bgcolor="#f2f2f2" class="mobMargin" style="font-size: 0px;"> </td>
    </tr>
    <!-- END GRAY BACKGROUND -->
    </table>


</body>

</html>